/* Target all elements in the webpage  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the entire webpage */
body {
    background-color: #d9dcd6;
}

/* Styling for the header section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Applies styles to the h1 element within the class "header" */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Targets the elements with the "seo" class within the h1 element in the class "header" */
.header h1 .seo {
    color: #d9dcd6;
}

/* Applies styles to the div element within the class "header" */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Targets the ul elements within div elements in the class "header" */
.header div ul {
    list-style-type: none;
}

/* Targets list items within unordered lists inside divs within the class "header" */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Targets all anchor elements */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Targets all paragraph elements */
p {
    font-size: 16px;
}

/* Targets elements with class "hero" */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Targets elements with class "float-left" */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Targets elements with class "float-right" */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Targets elements with class "content" */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Targets elements with class "benefits" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Targets elements with class "benefit-lead" */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Targets elements with class "benefit-brand" */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Targets elements with class "benefit-cost" */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Targets the h3 elements within the class "benefit-lead" */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Targets the h3 elements within the class "benefit-brand" */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Targets the h3 elements within the class "benefit-cost" */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Targets images within elements carrying the class "benefit-lead" */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Targets images within elements carrying the class "benefit-brand" */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Targets images within elements carrying the class "benefit-cost" */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Targets elements with the class "search-engine-optimization" */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Targets elements with the class "online-reputation-management" */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Targets elements with the class "social-media-marketing" */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Targets images within elements carrying the class "search-engine-optimization" */
.search-engine-optimization img {
    max-height: 200px;
}

/* Targets images within elements carrying the class "online-reputation-management" */
.online-reputation-management img {
    max-height: 200px;
}

/* Targets images within elements carrying the class "social-media-marketing" */
.social-media-marketing img {
    max-height: 200px;
}

/* Targets the h2 elements within the class "search-engine-optimization" */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Targets the h2 elements within the class "online-reputation-management" */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Targets the h2 elements within the class "social-media-marketing" */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styling for the footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Applies styles to the h2 element within the class "footer" */
.footer h2 {
    font-size: 20px;
}
